/* Artwork Section Styling */
.artwork-gallery {
    position: relative;
    padding: 60px 40px;
    text-align: center;
    background-color: #ffffff;
    overflow: hidden;
}

.artwork-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}

.artwork-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
}

.artwork-grid {
    position: relative;
    z-index: 2; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 300px; 
    padding: 20px;
    border-radius: 10px; 

}

/* Artwork Item Styling */
.artwork-item {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    transition: transform 0.3s;
}

.artwork-item:hover {
    transform: translateY(-5px);
}

.artwork-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.artwork-item h3 {
    font-size: 1.2em;
    margin: 10px 0 5px;
    color: #333;
}

.artwork-item p {
    font-size: 0.9em;
    color: #777;
    margin: 5px 0;
}

.like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: #e74c3c;
    cursor: pointer;
}

.like-button:hover {
    color: #c0392b;
}

@media (max-width: 768px) {
    .artwork-grid {
        grid-template-columns: 1fr 1fr; /* 2 columns for tablet */
    }
}

@media (max-width: 480px) {
    .artwork-grid {
        grid-template-columns: 1fr; /* 1 column for mobile */
    }
}

.see-more-container {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
    width: 100%;
}

.artwork-see-more-button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.artwork-see-more-button:hover {
    background-color: #555;
}

/* Heart Shape */
.heart {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    transition: transform 0.2s;
    

}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 12px;
    height: 20px;
    background-color: #e1e1e1;
    border-radius: 12px 12px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    transition: background-color 0.3s;
}

.heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

input[type="checkbox"] {
    display: none;
}

.like-interactions {
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}
input[type="checkbox"]:checked+.heart::before,
input[type="checkbox"]:checked+.heart::after {
    background-color: #ff4757;
}

input[type="checkbox"]:checked+.heart {
    transform: scale(1.1);
}