/* Exhibitions Section Styling */
.exhibitions-section {
    text-align: center;
    padding: 60px 40px;
}

.exhibitions-section h1 {
    font-family: 'Poppins', sans-serif; 
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
    text-shadow: 2px 2px 10px rgba(131, 131, 131, 0.3);
}

.exhibitions-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.exhibition-item {
    background-color: #f8f8f8;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

.exhibition-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff5733;
    color: white;
    padding: 5px 10px;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 5px;
    z-index: 1;
}

.exhibition-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.exhibition-info h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.exhibition-info p {
    font-size: 0.9em;
    color: #555;
}

.icon {
    margin-right: 5px;
}

.exhibition-see-more-button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.exhibition-see-more-button:hover {
    background-color: #555;
}


/* Swiper Container and Slide Styling within Exhibitions Section */
.exhibitions-section .swiper-container {
    width: 100%;
    padding: 20px 0;
}

.exhibitions-section .swiper-slide{
    width: 300px;
    display: flex;
    justify-content: center;
    /* flex-direction: column; Arrange the content vertically inside each slide */
}

/* Scope Swiper navigation to only #exhibitions */
#exhibitions .swiper-button-next,
#exhibitions .swiper-button-prev {
    color: #333; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#exhibitions .swiper-button-next {
    right: 10px;
}

#exhibitions .swiper-button-prev {
    left: 10px;
}

@media (max-width: 768px) {
    .exhibitions-section .swiper-container {
        width: 100%;
    }
    .exhibitions-section .swiper-slide {
        width: 80%;
    }
}
