* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.register-container {
    text-align: center;
    border: 1px solid #000;
    padding: 40px 20px;
    border-radius: 15px;
    width: 320px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;

}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000;
    border-radius: 25px;
    outline: none;
    width: 100%;
}

.radio-group {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.radio-group label {
    margin-right: 15px; /* Adjust this value to increase space between radio buttons */
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #333;
}

.login-text {
    font-size: 14px;
    margin-top: 20px;
}

.login-text a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}
